.import-list-btn, #title {
    cursor: pointer;
    cursor: hand;
}

#footer_content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

#footer_content p {
    margin: 0px;
}

#footer {
    padding: 5px 5px;
}

.fa-trash {
    color: red;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}