{% extends "templates/base_page.html" %}
{% block content %}
		<div class="hidden" name="entity_key">{{ entity_key }}</div>
		<div class="hidden" name="user_email">{{ user_email }}</div>
		<div class="hidden" name="stop1">{{ stop1 }}</div>
		<div class="hidden" name="stop2">{{ stop2 }}</div>
		<div class="hidden" name="stop3">{{ stop3 }}</div>
		<div class="hidden" name="stop4">{{ stop4 }}</div>
		<div class="hidden" name="stop5">{{ stop5 }}</div>
		<div class="hidden" name="stop1_checkbox">{{ stop1_checkbox }}</div>
		<div class="hidden" name="stop2_checkbox">{{ stop2_checkbox }}</div>
		<div class="hidden" name="stop3_checkbox">{{ stop3_checkbox }}</div>
		<div class="hidden" name="stop4_checkbox">{{ stop4_checkbox }}</div>
		<div class="hidden" name="stop5_checkbox">{{ stop5_checkbox }}</div>
        <div id="right-panel">
            <div><h1 id="directions_header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Directions</h1></div>
            <div id="directions-panel"></div>
        </div>
        <div id="map"></div>
{% endblock %}